* {
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.searchTerm {
  height: 40px;
  width: 300px;
  padding: 0;
  margin: 0;
}

#srchbtn {
  display: inline;
  height: 40px;
  width: 75px;
  padding: 0;
}
